html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


h1 {
    font-family: 'Prompt', sans-serif;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.142);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s;
    float: right;
    width: 100vw;
    transition: 0.5s ease-in-out;

}

.colorChange {
    color: rgb(224, 211, 175);
    font-family: 'Prompt', sans-serif;
    margin: 0 10px;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
}

#homePage {
    background-image: url('images/websitebackground90smiami.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#introText {
    color: rgb(224, 211, 175);
    font-weight: 600;
    font-size: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat Alternates', sans-serif;
}

#introTextAlternative {
    color: rgb(224, 211, 175);
    font-weight: 600;
    font-size: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat Alternates', sans-serif;
    display: none;
}

#projects {
    width: 100vw;
    background-color: rgb(224, 218, 210);
}

.innerBorder {
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-style: solid;
    border-radius: 5px;
    margin-left: 5vh;
    margin-right: 5vh;
    border-color: #4b4a4a;
}

#projectInfo {
    font-size: 0.8rem;
}

#experience {
    background-color: rgb(224, 218, 210);
}

button {
    color: black;
    background-color: rgb(173, 168, 162);
    border: 2px solid rgb(173, 168, 162);
    border-radius: 5px !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: rgb(224, 218, 210);
    border: 2px solid rgb(173, 168, 162);
    border-radius: 10px !important;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.267);
}

#aboutMe {
    background-color: rgb(173, 168, 162);
}

.navButtonRight {
    justify-content: center !important;
}

footer {
    padding-top: 20px;
    background: #21201f;
}

.imageStyle {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler {
    color: white !important;
    background-color: rgba(211, 211, 211, 0.688) !important;
}

.card-title {
    font-size: 1.2rem !important;
}

.card {
    box-shadow: 0px 3px 8px #888888;
}

.card-body {
    background-color: rgb(173, 168, 162);
    color: black !important;
    border-radius: 0px 0px 5px 5px;
}

.card-title {
    text-decoration: underline;
}

#activeMenu {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    #introText {
        transform: rotate(-90deg);
        font-size: 5rem;
        left: -100px;
        top: 35vh;
    }

    #introTextAlternative {
        transform: rotate(-270deg);
        font-size: 5rem;
        right: 10px;
        display: block;
        top: 35vh;
    }

    #navbar {
        background-color: rgba(0, 0, 0, 0.754);
    }

    .innerBorder {
        margin-left: 2vh;
        margin-right: 2vh;
        border-radius: 0;
    }

    .justify-content-center {
        justify-content: end !important;
    }

    .navbar-toggler {
        position: relative;
        left: 3px;
        width: 20vw;
    }

}